{% extends 'home.html' %}

{% block content %}

<div class="container normal_text">
  <div class="jumbotron text_jumbo">
    <h3>Welcome to One-day ahead Load forecasting Application !</h3>
    <br>
    <p>Here, you can make one-day ahead future load predictions for the state of Goa. You can also make virtual forecasts on the past and verify it with existing historical data.</p>
    <p>For any queries, feel free to reach out to me at <u>singh.nitin512@gmail.com</u> </p>
  </div>
<div>


{% endblock %}
