<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'basic/css/style.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap">
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text_jumbo normal_text">
      <h1>Welcome!</h1>
      <br>
      <h1>This is a Deep Learning Based One-Day ahead Load Forecasting tool for Goa</h1>
      <br>
      <a class="btn btn-primary" href="{% url 'home' %}" role="button">Proceed to site</a>
      </div>



    </div>
  </body>
</html>
